:root {
  /* Color */
  --primary-color: #4B70F5;
  --secondary-color: #637FE4;
  --primary-hover-color: #3DC2EC;
  --primary-text-color: #2D2525;
  --secondary-text-color: #FFFFFF;

  /* Scaler */
  --scaler-1: 0.25;
  --scaler-2: 0.5;
  --scaler-3: 1;
  --scaler-4: 1.5;
  --scaler-5: 2;
  
  /* Text Size */
  --text-size-base: 1rem;
  --text-size-1: calc(var(--text-size-base) * var(--scaler-1));
  --text-size-2: calc(var(--text-size-base) * var(--scaler-2));
  --text-size-3: var(--text-size-base);
  --text-size-4: calc(var(--text-size-base) * var(--scaler-3));
  --text-size-5: calc(var(--text-size-base) * var(--scaler-4));

  /* Padding Size */
  --padding-base: 5vw;
  --padding-1: calc(var(--padding-base) * var(--scaler-1));
  --padding-2: calc(var(--padding-base) * var(--scaler-2));
  --padding-3: var(--padding-base);
  --padding-4: calc(var(--padding-base) * var(--scaler-4));
  --padding-5: calc(var(--padding-base) * var(--scaler-5));

  /* image size */
  --img-size-base: 3rem;
  --img-size-1: calc(var(--img-size-base) * var(--scaler-1));
  --img-size-2: calc(var(--img-size-base) * var(--scaler-2));
  --img-size-3: var(--img-size-base);
  --img-size-4: calc(var(--img-size-base) * var(--scaler-4));
  --img-size-5: calc(var(--img-size-base) * var(--scaler-5));

  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* # Utility Class */

/* ## image */
.img {
  --img-size: var(--img-size-3);

  width: var(--img-size);
  height: var(--img-size);
}

.img--round {
  --img-border-radius: 50%;
}

.img--invert-color {
  filter: invert(100%);
}

/* ## button */
.button {
  border-radius: 10px;
  border: 0;
  padding: 8px;
}

.button:hover {
  cursor: pointer;
}

/* ## misc */
.none {
  display: none;
}

/* ## h1, h2 */
.h {
  --font-size-base: 4rem;
  --font-size-scaler: var(--scaler-4);
  --font-color: var(--secondary-color);
  
  font-size: calc(var(--font-size-base) * var(--font-size-scaler));
  color: var(--font-color);
  text-transform: capitalize;
}

.h--1 {
  --font-size-scaler: var(--scaler-3);
}

.h--2 {
  --font-size-scaler: var(--scaler-2);
}

/* Box */
.box {
  --background-color: transparent;
  --border-color: var(--primary-color);
  --color: var(--primary-text-color);

  padding: 10px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--color);
}

.box--fill {
  --background-color: var(--primary-color);
  --color: var(--secondary-color);
}

/* # Header */
.header {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: var(--padding-1) var(--padding-2);
  flex-direction: column;
  display: flex;
  gap: 1rem;
  align-items: stretch;

  position: sticky;
  top: 0;
  left: 0;
}

.header__name {
  font-size: var(--text-size-4);
  text-transform: uppercase;
  font-weight: bold;
}

.header__nav-pages-button {
  --button-img-size: var(--img-size-3);
  
  padding: 0;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr;
}

.nav-pages-button__bg, .nav-pages-button__img {
  grid-row: 1 / 2;
}

.nav-pages-button__img {
  --img-size: var(--button-img-size);
  
  filter: invert(100%);
  z-index: 1;
  grid-column: 1 / 2;
  transition: all 300ms ease-in;
  justify-self: center;
  align-self: center;

}

.nav-pages-button__bg {
  --size: 0;
  
  grid-column: 1 / 2;
  z-index: 0;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  background-color: var(--primary-hover-color);
  transition: all 200ms ease-in;

  justify-self: center;
  align-self: center;
}

.header__nav-pages-button--active .nav-pages-button__img {
  filter: invert(0%);
}

.header__nav-pages-button--active .nav-pages-button__bg {
  --size: calc(var(--button-img-size) + 12px);
}

.header__nav-pages {
  border-top: 1px solid var(--secondary-text-color);
  display: none;
  width: auto;
}

.page-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  gap: 2rem;
  flex-grow: 0;
  text-decoration: none;
  color: inherit;
}

.page-link__img {
  filter: invert(100%);
}

.page-link__text {
  font-weight: bold;
  font-size: var(--text-size-4);
  text-transform: capitalize;
  text-align: center;
}



@media screen and (min-width: 769px) {
  /* # Animation */
  
  @keyframes page-link-img {
    from {
      translate: 0 10px;
    }
    75% {
      width: var(--img-size);
    }
    to {
      translate: 0;
      width: var(--img-size);
    }
  }

  main {
    padding: 5vh 2vw;
  }

  /* # Header */
  .header {
    flex-direction: row;
    align-items: center;
  }

  .header__nav-pages-button {
    display: none;
  }
  
  .header__nav-pages {
    border: 0;
    flex-grow: 1;
    padding: 0 var(--padding-1);
    display: flex !important;
    gap: 1rem;
    justify-content: end;
    flex-direction: row;
  }
  
  .page-link {
    display: flex;
    gap: 0;
    transition: all 300ms ease-in;
    align-items: center;
    padding: var(--padding-1);
  }
  
  .page-link__text {
    text-align: center;
    flex-grow: 1;
  }

  .page-link__img {
    --img-size: var(--img-size-2);
    
    width: 0;
  }

  .page-link:hover {
    background-color: var(--primary-hover-color);
    gap: 0.5rem;
  }
  
  .page-link:hover .page-link__img {
    width: var(--img-size);
    filter: invert(0%);
    animation: page-link-img 200ms ease-in;
  }
  
  .page-link:hover .page-link__text {
    color: var(--primary-text-color);
  }
}