:root {
  /* Color */
  --primary-color: #4B70F5;
  --secondary-color: #637FE4;
  --primary-hover-color: #3DC2EC;
  --primary-text-color: #2D2525;
  --secondary-text-color: #FFFFFF;

  /* Scaler */
  --scaler-1: 0.25;
  --scaler-2: 0.5;
  --scaler-3: 1;
  --scaler-4: 1.5;
  --scaler-5: 2;
  
  /* Text Size */
  --text-size-base: 1rem;
  --text-size-1: calc(var(--text-size-base) * var(--scaler-1));
  --text-size-2: calc(var(--text-size-base) * var(--scaler-2));
  --text-size-3: var(--text-size-base);
  --text-size-4: calc(var(--text-size-base) * var(--scaler-3));
  --text-size-5: calc(var(--text-size-base) * var(--scaler-4));

  /* Padding Size */
  --padding-base: 5vw;
  --padding-1: calc(var(--padding-base) * var(--scaler-1));
  --padding-2: calc(var(--padding-base) * var(--scaler-2));
  --padding-3: var(--padding-base);
  --padding-4: calc(var(--padding-base) * var(--scaler-4));
  --padding-5: calc(var(--padding-base) * var(--scaler-5));

  /* image size */
  --img-size-base: 3rem;
  --img-size-1: calc(var(--img-size-base) * var(--scaler-1));
  --img-size-2: calc(var(--img-size-base) * var(--scaler-2));
  --img-size-3: var(--img-size-base);
  --img-size-4: calc(var(--img-size-base) * var(--scaler-4));
  --img-size-5: calc(var(--img-size-base) * var(--scaler-5));

  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* # Utility Class */

/* ## image */
.img {
  --img-size: var(--img-size-3);

  width: var(--img-size);
  height: var(--img-size);
}

.img--round {
  --img-border-radius: 50%;
}

.img--invert-color {
  filter: invert(100%);
}

/* ## button */
.button {
  border-radius: 10px;
  border: 0;
  padding: 8px;
}

.button:hover {
  cursor: pointer;
}

/* # misc */
.none {
  display: none;
}

/* # Header */
.header {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: var(--padding-1) var(--padding-2);
  flex-direction: column;
  display: flex;
  gap: 1rem;
  align-items: stretch;

  position: sticky;
  top: 0;
  left: 0;
}

.header__name {
  font-size: var(--text-size-4);
  text-transform: uppercase;
  font-weight: bold;
}

.header__nav-pages-button {
  --button-img-size: var(--img-size-3);
  
  padding: 0;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr;
}

.nav-pages-button__bg, .nav-pages-button__img {
  grid-row: 1 / 2;
}

.nav-pages-button__img {
  --img-size: var(--button-img-size);
  
  filter: invert(100%);
  z-index: 1;
  grid-column: 1 / 2;
  transition: all 300ms ease-in;
  justify-self: center;
  align-self: center;

}

.nav-pages-button__bg {
  --size: 0;
  
  grid-column: 1 / 2;
  z-index: 0;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  background-color: var(--primary-hover-color);
  transition: all 200ms ease-in;

  justify-self: center;
  align-self: center;
}

.header__nav-pages-button--active .nav-pages-button__img {
  filter: invert(0%);
}

.header__nav-pages-button--active .nav-pages-button__bg {
  --size: calc(var(--button-img-size) + 12px);
}

.header__nav-pages {
  border-top: 1px solid var(--secondary-text-color);
  display: none;
  width: auto;
}

.page-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  gap: 2rem;
  flex-grow: 0;
  text-decoration: none;
  color: inherit;
}

.page-link__img {
  filter: invert(100%);
}

.page-link__text {
  font-weight: bold;
  font-size: var(--text-size-4);
  text-transform: capitalize;
  text-align: center;
}

/* # Home Page */
.home {
  display: grid;
  grid-template-rows:  repeat(4, 0.2fr) repeat(2, 0.1fr);

  --grid-end-profile-picture: 4;
  --grid-end-greetings: 6
}

.home__profile-photo, .home__greeting {
  grid-column: 1 / 2;
}

.home__profile-photo {
  --size: 100%;
  
  grid-row: 1 / var(--grid-end-profile-picture);
  height: var(--size);
  width: var(--size);
  
  object-fit: cover;
  object-position: 0 calc(-50px + 1vh);
}

.home__greeting {
  /* Text Size */
  --text-size-base: calc(10vw + 0.2rem);
  --text-size-name: calc(var(--text-size-base) * var(--scaler-4)); 
  --text-size-text: calc(var(--text-size-base) * var(--scaler-2)); 
  
  /* Grid */
  --grid-start: calc(var(--grid-end-profile-picture) - 1);
  grid-row: var(--grid-start) / var(--grid-end-greetings);

  /* misc */
  padding-left: 10px;
}


.greeting__text {
  font-size: var(--text-size-text);
  text-transform: capitalize;
}

.greeting__name {
  font-size: var(--text-size-name);
  text-transform: uppercase;
  color: var(--primary-color);
}

.home__social-media {
  /* img-size */
  
  /* Grid Configuration */
  --grid-start: var(--grid-end-greetings);
  grid-row: var(--grid-start) / -1;
  
  /* Flex Configuration */
  display: flex;
  gap: 1rem;

  align-self: start;
}

.social-media__account {
  --img-size-base: calc(1rem + 6vw);
  --img-size-social-media: calc(var(--img-size-base) * var(--scaler-4));

  background-color: var(--primary-color);
  display: flex;
  padding: 0.5rem;
  gap: .7rem;
  border-radius: 50%;
  align-items: center;
}

.account__social-media-img {
  --img-size: var(--img-size-social-media);
  border-radius: 50%;
}

.account__name {
  display: none;
  color: var(--secondary-text-color);
  font-size: var(--text-size-4);
  font-weight: bold;
}



@media screen and (min-width: 769px) {
  /* # Animation */
  
  @keyframes page-link-img {
    from {
      translate: 0 10px;
    }
    75% {
      width: var(--img-size);
    }
    to {
      translate: 0;
      width: var(--img-size);
    }
  }

  /* # Header */
  .header {
    flex-direction: row;
    align-items: center;
  }

  .header__nav-pages-button {
    display: none;
  }
  
  .header__nav-pages {
    border: 0;
    flex-grow: 1;
    padding: 0 var(--padding-1);
    display: flex !important;
    gap: 1rem;
    justify-content: end;
    flex-direction: row;
  }
  
  .page-link {
    display: flex;
    gap: 0;
    transition: all 300ms ease-in;
    align-items: center;
    padding: var(--padding-1);
  }
  
  .page-link__text {
    text-align: center;
    flex-grow: 1;
  }

  .page-link__img {
    --img-size: var(--img-size-2);
    
    width: 0;
  }

  .page-link:hover {
    background-color: var(--primary-hover-color);
    gap: 0.5rem;
  }
  
  .page-link:hover .page-link__img {
    width: var(--img-size);
    filter: invert(0%);
    animation: page-link-img 200ms ease-in;
  }
  
  .page-link:hover .page-link__text {
    color: var(--primary-text-color);
  }

  /* # Home Page */
  .home {
    --grid-end-profile-picture: 3;
    --grid-end-greetings: 2;
    
    padding: 6rem 0.5rem;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
  }

  .home__profile-photo {
    --img-size-base: calc(20vw + 1rem);
    --size: calc(var(--img-size-base) * var(--scaler-4));
    
    grid-column: 1 / 2;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
  }

  .home__greeting {
    --text-size-base: 3rem;
    --grid-start: 1;
    
    grid-column: 2 / 3;
    padding: 10px;
    align-self: self-end;
  }

  .home__social-media {
    grid-column: 2 / 3;
  }

  .social-media__account {
    --img-size-base: 2.2rem;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 2rem;
    padding: 5px;
    transition: all 200ms ease-in-out
  }

  .account__social-media-img {
    border: 0;
  }

  .account__name {
    display: contents;
  }

  .social-media__account:hover {
    background-color: var(--primary-hover-color);
  }

  .social-media__account:hover .account__name {
    color: var(--primary-text-color);
  }
}