.professional-development {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* # Industry Exposure */
.industry-exposure {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
  font-size: var(--text-size-3);
}

.industry-exposure .poster,
.industry-exposure .photo {
  border-radius: 10px;
}

.industry-exposure .poster {
  width: 40vw;
  justify-self: center;
}

.industry-exposure .photo {
  width: auto;
  align-self: center;
}

.industry-exposure .summary {
  text-align: justify;
}

.industry-exposure .take-away {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
}

.industry-exposure
.take-away
.take-away-list {
  padding-left: 2rem;
}

.industry-exposure 
.take-away
.take-away-list::before
{
  margin-right: 5px;
}

/* # Project Card */
.personal-project {
  display: grid;
  gap: 1rem;
}

.project-card {
  border-radius: 10px;
  background-color: var(--secondary-color);
  padding: 1.5rem;
  color: var(--secondary-text-color);
  font-size: var(--text-size-3);
  
  display: grid;
  gap: 1rem;
}

.project-card .h--2 {
  color: inherit;
}

.project-card
.tag-list {
  display: grid;
  gap: 0.5rem;
}

.project-card 
.tag-list
.label {
  font-weight: bold;
  text-transform: capitalize; 
}

.project-card
.tag-list
.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project-card 
.tag-list
.tag-element {
  --element-color: var(--secondary-text-color);

  border-radius: 10px;
  border: 2px solid var(--element-color);
  color: var(--element-color);
  padding: 4px 8px;
  
  font-size: var(--text-size-3);
  text-transform: capitalize;

  display: flex;
  gap: 20px;
  align-items: center;
}

.project-card
.tag-list
.tag-element:hover {
  --element-color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
  transition: all 200ms ease-in;
}

.project-card
.tag-list
.tag-element
.img {
  --img-size: var(--img-size-2);
  border-radius: 50%;
}

.project-card
.github-repo-button {
  padding: 4px 10px;
  background-color: var(--primary-text-color);
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: var(--text-size-3);
  
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: start;
}

.project-card
.github-repo-button
.img {
  --img-size: 2.3rem;
}

.project-card
.github-repo-button:hover {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  transition: all 200ms ease-out;
}

@media screen and (min-width: 769px) {
  /* # industry exposure */
  .industry-exposure {
    grid-template-areas:
      "t t t"
      "ps s s"
      "ta ta ph";
    font-size: var(--text-size-4);
  }

  .industry-exposure .h--2 {
    grid-area: t;
  }

  .industry-exposure .summary {
    grid-area: s;
  }

  .industry-exposure .poster {
    grid-area: ps
  }

  .industry-exposure .photo {
    grid-area: ph;
  }

  .industry-exposure .take-away {
    grid-area: ta;
  }

  .industry-exposure .summary,
  .industry-exposure .take-away {
    align-self: center;
  }

  .industry-exposure .poster {
    width: 20vw;
  }

  .project-card
  .project-description {
    font-size: var(--img-size-2);
  }
}