.professional-development {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* # Industry Exposure */
.industry-exposure {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
  font-size: var(--text-size-5);
}

.industry-exposure .poster {
  width: 40vw;
  justify-self: center;
}

.industry-exposure .photo {
  width: auto;
}

.industry-exposure .summary {
  text-align: justify;
}

.industry-exposure .take-away {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
}

.industry-exposure 
.take-away
.take-away-list
 {
  padding: 0 1rem;
}

@media screen and (min-width: 769px) {
  /* # industry exposure */
  .industry-exposure {
    grid-template-areas:
      "t t t"
      "ps s s"
      "ta ta ph";
  }

  .industry-exposure .h--2 {
    grid-area: t;
  }

  .industry-exposure .summary {
    grid-area: s;
  }

  .industry-exposure .poster {
    grid-area: ps
  }

  .industry-exposure .photo {
    grid-area: ph;
  }

  .industry-exposure .take-away {
    grid-area: ta;
  }

  .industry-exposure .summary,
  .industry-exposure .take-away {
    align-self: center;
  }

  .industry-exposure .poster {
    width: 20vw;
  }
}